/*#row1 {
  padding-top: 50px;
}*/
.logo {
  padding: 40px 15px;
  text-align: center;
}

.fixed_width {
      height: 143px;
      width: 149px;
      max-height: 143px;
      max-width: 149px;
     }

#scroll-box {
        background:#e6e6e6;
        width:150px;
        height: 150px;
        padding:15px;
        overflow-y: scroll
    }
/*img {
 -webkit-filter: invert(100%);
}*/
/*@media screen and (min-width: 200px) {
#home-logo {
	  width: 40%;
	  height: auto;
	  display: block;
	  margin: auto;
	  }
}

@media screen and (min-width: 768px) {
#home-logo {
	  width: 15%;
	  height: auto;
	  display: block;
	  margin: auto;
	  }
}*/

#home-logo {
	  display: block;
	  margin: auto;
	  }

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
  margin-top: 40px;
  border-top: 1px solid #eee;
}
/*
.border-right, .border-left, .border-both {
    position: relative;
}
.border-left:before, .border-right:after {
    position: absolute;
    content:'';
    height: auto;
    top: 50px;
    bottom: 10px;
    border-right: 1px solid #aaa;
    width: 0;
}
.border-left:before { left: -11px; }
.border-right:after { right: -10px; }
.show-hover {
    display: none;
}*/
div:hover>.show-hover {
    display: block;
}
body
{
	background-image:url('../img/ccbg.png');
	background-size:150px;
}

.birras {
	background: #bba;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-top: 1px rgba(255,255,255,.6) solid;
	height: 200px;
	margin: auto;
	/*border:2px solid #ccc;
	height: 100px;
	overflow-y: scroll;
	background-color: #eeeeee;*/
}
/*.birras { background: #bba; width: 500px; height: 100px; }*/
/*.birras .nano-content { padding: 10px; }
.birras .nano-pane   { background: #888; }
.birras .nano-slider { background: #111; }*/

#main {
	/*background: #eeeeee;*/
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-top: 1px rgba(255,255,255,.6) solid;
	/*height: 250px;*/
	margin: auto;
}

#main .nano {
	text-shadow: #eee 0 1px;
}

#main pre {
	background: #222;
	border-bottom: 1px solid white;
	border-top: 1px solid black;
	-webkit-box-shadow: black 0 1px 10px inset;
	-moz-box-shadow: black 0 1px 10px inset;
	box-shadow: black 0 1px 10px inset;
	text-shadow: black 0 -1px 1px;
}

#main ul, #main ol {
	display: block;
	margin: 10px 0;
}

#main ul li, #main ol li {
	margin-left: 20px;
	font-size: 13px;
}

#main .content h1 {
	display: block;
	margin: 0;
	padding: 0;
	color: #111;
	text-indent: 0;
	background: none;
	display: none;
}

#main a {
	color: #066;
	text-decoration: none;
	text-shadow: none;
}

#main a:hover {
	text-decoration: underline;
}

#main code {
	font-family: 'Monaco', 'Anonymous Pro', sans-serif;
}

#main p code {
	background: #222;
	display: inline-block;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font-family: Monaco, 'Anonymous Pro';
	font-size: 11px;
	text-shadow: none;
	color: #ee8;
	padding: 0 3px 0;
	border-bottom: 1px solid #eee;
	-webkit-box-shadow: #000 0 2px 3px inset;
	-moz-box-shadow: #000 0 2px 3px inset;
	box-shadow: #000 0 2px 3px inset;
	text-shadow: black 0 -1px 1px;
}

.small.nano {
	background: #ffa;
	height: 100px;
	margin-top: 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

#map_canvas {
   display: block;
   width: 100%;
   height: 400px;
}

#twitter-widget-1 {
    display: block;
    width: 100%;
}

html {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 18px;
  line-height: 1.2;
  color: #333;
}

.typeahead,
.tt-query,
.tt-hint {
  width: 396px;
  padding: 8px 12px;
  font-size: 24px;
  line-height: 30px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  outline: none;
}

.typeahead {
  background-color: #fff;
}

.typeahead:focus {
  border: 2px solid #0097cf;
}

.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
     -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.tt-hint {
  color: #999
}

.tt-dropdown-menu {
  width: 422px;
  margin-top: 12px;
  padding: 8px 0;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
     -moz-border-radius: 8px;
          border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}

.tt-suggestion.tt-cursor {
  color: #fff;
  background-color: #0097cf;

}

.tt-suggestion p {
  margin: 0;
}

#bloodhound .empty-message {
  padding: 5px 10px;
 text-align: center;
}

.hidden {display: none;}

.ig-b- { display: inline-block; }
/*.ig-b- img { visibility: hidden; }*/ 
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 { width: 137px; height: 24px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }